.header {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.buttons{
    margin-left: auto;
    display: flex;
}
.button {
    display: flex;
    text-decoration: none;
    margin-right: 20px;
}
@media all and (max-width: 500px) {
   .header {}
}